
body, *{
    padding:0;
    margin:0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;
}
.card {
    box-shadow: 2px 5px 8px 4px slategrey;
    width: 23%
}
.btn {
    align-items: stretch;
}
i {
    font-size: 1.5rem;
}
#carousels img {
    height: 60vh;
}
#headertron img{
    height: 30vh;
    width: 100vw;
}
.jumbotron {
    padding: 0;
    margin: 0;
}
.class-images {
    height: auto;
    width: 100%;
}
.offset-1 {
    margin-left: 5%;
}
.row {
    margin-right: 0;
}
.padding {
    padding: 1%;
}
hr {
    width: 60%;
}
.no-margin {
    margin: 0;
}
#homePageJumbo {
    background-image: url("img/Untitled design.png");
    background-size: cover;

}
.big-padding {
    padding: 5%;
}
.bookings {
    height: 100vh;
    background:
    linear-gradient(
    rgba(93, 117, 153, 1),
    rgba(171, 182, 200, 1)
    );
}
.booking-card {
    min-height: 50vh;
    max-height: 80vh;
    overflow: scroll;
    background: #fbfbfb;
}
.class-listing {
    background: white;
    box-shadow: -1px 1px 1px 1px darkgrey;
    border-radius: 2%;
}
.class-date {
    color: #6baeff;
}
.class-details {
    width: 60%;
}
/*attempting to move class-details*/
/*.class-listing:hover {*/
/*    animation-name: moveLeft;*/
/*    animation-duration: 800ms;*/
/*}*/
/*@keyframes moveLeft {*/
/*    0% {*/
/*        transform: translateX(0);*/
/*    }*/
/*    100% {*/
/*        transform: translateX(200px);*/
/*    }*/
/*}*/

