body {
    height: 100vh;
    width: 100vw;
}
.card {
    box-shadow: 2px 5px 8px 4px slategrey;
    width: 23%
}
.btn {
    align-items: stretch;
}
i {
    font-size: 1.5rem;
}
#carousels img {
    height: 50vh;
}
#headertron img{
    height: 30vh;
    width: 100vw;
}
.jumbotron {
    padding: 0;
    margin: 0;
}
.class-images {
    height: auto;
    width: 100%;
}
.offset-1 {
    margin-left: 5%;
}